<%= render(:partial => '/global_partials/navbar') %>
<%= render(:partial => '/global_partials/flash_notices') %>
<div class="container">
  <br />
  <h1>PBE Members</h1><br />
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name + ' ' + user.last_name %></td>
        <td><%= user.email %></td>
        <% if user.role == 'admin' %>
          <td><i class="material-icons" title="admin">account_box</i></td>
        <% else %>
          <td><i class="material-icons md-dark" title="user">account_box</i></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>