<!-- Using PBE Logo for home-link -->
<nav class="navbar navbar-expand-lg navbar-static-top bg-color navbar-dark responsive" style="margin-bottom: 0 !important">
  <%= link_to image_tag("logo.png", width: 100, alt: "Professional Brotherhood of Engineers logo"), events_path, class: "navbar-brand mr-auto"%>
</nav>