<!-- Using PBE Logo for home-link -->
<nav class="navbar navbar-expand-lg navbar-static-top bg-color navbar-dark responsive">
  <a class=" mr-auto" href="/events">
    <img src="https://static.wixstatic.com/media/2036a5_cf2ba159e2ac449cb80cf2082b57c8fb~mv2.png/v1/fill/w_240,h_240,al_c,q_95,usm_0.66_1.00_0.01/2036a5_cf2ba159e2ac449cb80cf2082b57c8fb~mv2.webp" width="100" height="100" alt="" loading="lazy">
  </a>
  <p class="navbar-nav nav-title center-justified">
    Professional Brotherhood of Engineers
  </p>  
</nav>